.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background:rgb(195, 40, 40);
  list-style: none;
}

.nav-links {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body-style {
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  margin-left: 175px;
  margin-right: 175px;
}

.btn-style {
  margin: 50px;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 3px;
  
}

